/*info
dark-grey : #27272b
light-grey : rgba(39, 39, 43, 0.7)

*/

/*Basic settings*/
* {
  font-family: "Playfair Display", Arial, Helvetica, sans-serif;
  color: #27272b;
}
body {
  margin: 0;
  width: 100%;
  background-color: #27272b;
}

/*heading*/
h1 {
  text-align: center;
  font-weight: 700;
  font-size: 3rem;
  margin: 2rem 0 0 0;
  color: white;
}

.title-description {
  color: white;
  text-align: center;
  font-family: "Noto Serif Display", serif;
  font-size: 15px;
  font-weight: 200;
  width: 70%;
  margin: 2rem auto 2rem auto;
  line-height: 1.5rem;
}

/*main - include form-box and result-box*/
main {
  display: flex;
  justify-content: space-evenly;
  background-color: white;
}

/*form's elements*/
.form-box {
  width: 30%;
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  margin-top: 6rem;
}
form {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  border: 3px double rgba(39, 39, 43, 0.7);
  border-radius: 10px;
  padding: 1.3rem;
  font-size: 20px;
}

.gender-box {
  display: flex;
  justify-content: space-between;
}

.gender-box p {
  margin: 0;
}

.gender-box input {
  margin-left: 4rem;
}

.age-weight-height-box {
  display: flex;
  flex-direction: column;
}
.age-weight-height-box label {
  margin-bottom: 0.5rem;
}

.age-weight-height-box input {
  height: 25px;
}

.button-box {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
}

button {
  border: none;
  font-size: 20px;
  padding: 0.5rem 2rem;
  cursor: pointer;
  background-color: rgba(39, 39, 43, 0.7);
  color: white;
  font-weight: 600;
  border-radius: 5px;
}

.btn-submit:disabled {
  background-color: rgba(39, 39, 43, 0.3);
}

.form-formula-info {
  font-size: 14px;
}

/*all result*/
.result-box {
  width: 40%;
  margin-top: 2rem;
}

.result-title {
  font-size: 30px;
  margin: 0;
  position: relative;
}

.result-title::after {
  content: "";
  width: 150px;
  height: 4px;
  background-color: rgba(39, 39, 43, 0.5);
  position: absolute;
  right: 0;
  left: 0;
  top: 40px;
}

.bmp-result-line {
  margin-top: 1.5rem;
  margin-bottom: 2rem;
}

.result-box p {
  font-size: 17px;
}

.tdee-each-item h2 {
  font-size: 17px;
  font-weight: 600;
}
.tdee-container {
  display: flex;
  flex-direction: column;
  row-gap: 1.5rem;
}

.tdee-each-item {
  border: 1px #27272b solid;
  border-radius: 10px;
  padding-left: 1rem;
  min-height: 95px;
}

/*js generate data*/
.result {
  font-weight: 600;
  font-size: 30px;
}

.tdee-result-span {
  font-weight: 600;
  font-size: 30px;
}
